#imageRow {
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 30%;
    margin: 25px auto;
}

#titleForm {
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.form-h1 {
    text-align: center;
}

.form-div {
    width: 30%; 
    margin: 25px auto;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}